---
interface Props {
  category: string;
}

const { category } = Astro.props;
---

<span class="text-xs sm:text-sm font-medium text-body-muted hover:text-primary transition-colors duration-200 mr-2">
  #{category.toLowerCase().replace(/\s+/g, '')}
</span>

<!-- REVIEW: Improve the Hashtag prefix to include icons -->